@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Protest+Revolution&family=Shadows+Into+Light&display=swap');

* {
  font-family: 'Caveat';
  box-sizing: border-box;
  background-color: bisque;
}
